.click-upload{
  text-align: center;
}
#item-image{
  height: 40px;
  width: 75%;
  font-size: 20px;
  margin: 40px;
}
.set-btn-profile{
  width: 30%;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-weight: 900;
}