.header{
  width: 100%;
  height: 10vh;
  background-color: rgb(192, 245, 245);
  display: flex;
  justify-content: space-between;
}
.left-header{
  width: 20vw;
  height: 10vh;
}
.title-name{
  display: block;
  margin: 7px 70px;
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.center-header{
  width: 40vw;
  height: 10vh;
}
.search{
  width: 100%;
  height: 100%;
  position: relative;
}
.search-form{
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.name-form{
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.send{
  height: 45px;
  margin-top: 20px;
}

.right-header{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.right-header-left{
  height: 10vh;
  width: 13vw;
}
.right-header-right{
  height: 10vh;
  width: 13vw;
}
.right-header-left a{
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.right-header-right a{
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.main{
  width: 100%;
  background-color: rgb(240, 226, 209);
  padding-top: 30px;
  padding-bottom: 30px;
}
.goal{
  border: 3px solid black;
  width: 90%;
  margin:0 auto 20px;
  background-color: darkcyan;
  display: flex;
}
.goal-content{
  width: 70%;
  margin: 20px;
  background-color: royalblue;
}
.main-goal-name{
  height: 65px;
  width: 95%;
  margin: 20px;
  background-color: orchid;
  
}
.main-goal-name h1{
  margin: 0px;
  font-size: 45px;
  text-align: center;
}
.main-goal-explnation{
  width: 95%;
  margin: 20px;
  background-color:khaki;
}
.hidden{
  display: none;
}
.main-goal-explnation p{
  display: block;
  margin: 0 auto;
  font-size: 30px;
  width: 99%;
  overflow-wrap: break-word;
}
.sub-goals{
  width: 100%;
  background-color: lemonchiffon;
}
.sub-goals-contents{
  width: 90%;
  background-color: lightcoral;
  margin:0 0 0 auto ;
  padding-top:5px ;
}

.sub-goal{
  font-size: 30px;
  font-weight: 900;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.sub-goal-name{
  width: 70%;
}

.sub-goals-contents a{
  font-size: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 230px ;
  background-color: gray;
}
.limit{
  height: 40%;
  width: 30%;
  background-color: orange;
  margin: 20px;
}
.goal-limit{
  height: 90%;
  width: 90%;
  margin: 10px auto;
  background-color: blue;
}
.goal-limit h2{
  margin: 0px;
  font-size: 30px;
}
.goal-limit h1{
  font-size: 40px;
  text-align: center;
  margin: 0px
}
.message{
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}
.goal-set{
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  background-color: rgb(233, 231, 231);
  margin: 0 550px;
}
.goal-set a{
  text-decoration: none;
}
.others{
  background-color: rgb(190, 162, 223);
}
.others p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.footer{
  background-color: rgb(219, 196, 165);
  text-align: center;
}
.footer p{
  margin-top: 0px;
}