.header{
  width: 100%;
  height: 10vh;
  background-color: rgb(192, 245, 245);
  display: flex;
  justify-content: space-between;
}
.left-header{
  width: 20vw;
  height: 10vh;
}
.title-name{
  display: block;
  margin: 7px 70px;
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.center-header{
  width: 40vw;
  height: 10vh;
}
.search{
  width: 100%;
  height: 100%;
  position: relative;
}
.search-form{
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.name-form{
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.send{
  height: 45px;
  margin-top: 20px;
}

.right-header{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.right-header-left{
  height: 10vh;
  width: 13vw;
}
.right-header-right{
  height: 10vh;
  width: 13vw;
}
.right-header-left a{
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.right-header-right a{
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.main{
  width: 100%;
  height: 80vh;
  background-color: rgb(240, 226, 209);
}
.message{
  margin-top: 0px;
  padding-top:250px;
  text-align: center;
}
.goal-set{
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  background-color: rgb(233, 231, 231);
  margin: 0 550px;
}
.goal-set a{
  text-decoration: none;
}
.others{
  background-color: rgb(190, 162, 223);
}
.others p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.footer{
  background-color: rgb(219, 196, 165);
  text-align: center;
}
.footer p{
  margin-top: 0px;
}