.new-main{
  width: 50%;
  margin: 0 auto;
}
.new-main p{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 900;
}
.new-main p span{
  margin-top: 0px;
  display: block;
  height: 40px;
  font-size: 30px;
  margin: 0px;
  font-weight: 100;
}
.main-goal{
  width: 100%;
}
.input-form{
  width: 100%;
  margin-bottom: 30px;
}
.name{
  font-size: 30px;
  height: 50px;
  padding: auto;
}
.explanation{
  height: 100px;
  font-size: 20px;
}
.dead-line{
  font-size: 30px;
}
.sub-goal-set-btn{
  display: flex;
}
#destroy-btn{
  display: block;
  width: 30%;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  font-weight: 900;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  background-color: gray;
  text-align: center;
}
.set-btn{
  width: 30%;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  font-weight: 900;
}