.profiles{
  width: 90%;
  margin: 10px auto;
  background-color: rgb(185, 169, 197);
}
.profile{
  display: flex;
}
.user-profiles{
  width: 25%;
  height: 95%;
  background-color: rgb(49, 49, 95);
  margin: 15px;
}
.profile-content{
  font-size: 20px;
}
.user-image{
  height: 60%;
  width: 95%;
  margin: 10px auto;
  background-color: lightcyan;
}
.image{
  height: 150px;
  width: 150px;
  margin: 50px 70px 0px;
}
.user-name{
  margin: 0;
  text-align: center;
}
.user-profile{
  height: 30%;
  width: 95%;
  margin: 10px auto;
  background-color: lightslategrey;
  overflow-wrap:break-word;
}
.user-goal{
  width: 70%;
  height: 95%;
  background-color: rgb(193, 212, 173);
  margin: 15px;
}
.life-goal{
  height: 45%;
  width: 95%;
  margin: 10px auto;
  background-color: rgb(200, 157, 157);
  overflow-wrap:break-word;
}
.life-goal-content{
  font-size: 60px;
  margin: 0px;
  text-align: center;
}
.life-goal-explanation{
  height: 45%;
  width: 95%;
  margin: 0 auto;
  background-color: rgb(193, 226, 215);
}
.life-goal-explanation-content{
  font-size: 20px;
}
.profile-edit{
  height: 8%;
  background-color: rgb(212, 160, 193);
  text-align: right;
  padding: 5px;
  font-size: 25px;
}
.profile-edit a{
  text-decoration: none;
  border: 1px solid black;
}
.goal-edit{
  height: 50px;
  width: 90%;
  margin:0 auto ;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.edit{
  height: 100%;
  width: 15%;
  background-color: tomato;
}
.edit a{
  display: block;
  height: 95%;
  width: 95%;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 1px auto;
  font-weight: 900;
  color: black;
}
.destroy{
  height: 100%;
  width: 15%;
  background-color: turquoise;
}
.destroy a{
  display: block;
  height: 95%;
  width: 95%;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 1px auto;
  font-weight: 900;
  color: black;
}